<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Baseball Configurator</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">

  <link rel="stylesheet" type="text/css" href="css/style.css">

  <script src="js/lib/angular/angular.min.js"></script>
  <script src="js/lib/angular/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <script src="js/appBaseball.js"></script>
  <script src="js/controllers/baseballController.js"></script>

</head>
<body>
  <div ng-app="baseballConfigurator">
    <div ng-controller="BaseballCtrl">
      <!-- product image -->
      <div id="productImage" style="float:left;background-color:#3399ff;color:#ffffff;height:350px;width:350px;">
        Model: {{model}}
        <div ng-repeat="step in steps">
          <div ng-if="step.type == 'personalization'">
            <div ng-repeat="value in step.values track by $index">
              <div ng-repeat="xy in value.coordinates">
                <p style="position: absolute; top: {{xy.y}}px; left:{{xy.x}}px;">{{model.personalization.line[$index]}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- customization options -->
      <div ng-repeat="step in steps">
        <button ng-click="toggleStep($index)">{{step.title}}</button>
        <div id="step_{{$index}}" style="display:none;">
          <p>{{step.instruction}}</p>
          <div ng-if="step.type == 'select'">
             <select ng-model="model.attribute[$index]" ng-options="value for value in step.values" ng-required="step.required"></select>
          </div>
          <div ng-if="step.type == 'color'">
             <img ng-repeat="value in step.values" style="width:45px;height:45px;margin:3px;background:{{value}};" ng-click="setAttributeSelection(value, $parent.$index)">
             <input ng-model="model.attribute[$index]" ng-required="step.required" ng-hide="true"/>
          </div>
          <div ng-if="step.type == 'image'">
             <img ng-repeat="value in step.values" ng-src="{{value}}" style="width:45px;height:45px;margin:3px;" ng-click="setAttributeSelection(value, $parent.$index)">
             <input ng-model="model.attribute[$index]" ng-required="step.required" ng-hide="true"/>
          </div>
          <div ng-if="step.type == 'personalization'">
            <div ng-repeat="value in step.values">
              <input type="radio" ng-model="model.attribute[$parent.$index]" value="{{value.title}}" ng-change="setAttributeSelection(value.title, $parent.$index);togglePersonalization($index);">{{value.title}}
              <div id="personalization_{{$index}}" style="display:none;">
                {{value.numberOfLines}}
                <div ng-repeat="n in [].constructor(3) track by $index">
                  <input type="text" ng-model="model.personalization.line[$index]">
                </div>
              </div>
            </div>
             <input ng-model="model.attribute[$index]" ng-required="step.required" ng-hide="true"/>
          </div>
          <div ng-if="step.type == 'review'">
             <div ng-repeat="reviewStep in steps | filter: { type: '!review' }">
                {{reviewStep.title}}: {{model.attribute[$index]}}
                <div ng-if="reviewStep.type == 'personalization'">
                  <div ng-repeat="value in reviewStep.values track by $index">
                    <div ng-repeat="xy in value.coordinates">
                      <p ng-if="model.personalization.line[$index] != null">Line {{$index+1}}: {{model.personalization.line[$index]}}</p>
                    </div>
                  </div>
                </div>
             </div>
          </div>
        </div>
      </div>

    </div>
	</div>
</body>
</html>